.movies {
    display : grid;
    grid-template-columns: repeat(5, 13em);
}


.movies:hover{
    cursor: pointer;
}

.movie-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-list-title{
    color: rgb(230,230,230);
    font-weight: lighter;
}
